In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
df = pd.read_csv('https://raw.githubusercontent.com/okfn/dataportals.org/master/data/portals.csv')
print(df)

                         name  \
0                   a2gov_org
1    acikveri-sahinbey-bel-tr
2            africa_open_data
3     ajuntament-de-tarragona
4       ajuntament-de-terassa
..                        ...
598  portal-dados-urbanos-uff
599           open-data-nepal
600                   stat-tj
601                dadosjusbr
602       bratislava-opendata

                                                 title  \
0                                  Ann Arbor, Michigan
1                      Açık Veri Portali - Test Yayını
2                                     Africa Open Data
3                                  Open Data Tarragona
4                                    Open Data Terassa
..                                                 ...
598  Portal de Dados Urbanos PPGAU UFF - Open data ...
599                                    Open Data Nepal
600  Agency on Statistics under President of the Re...
601                                         DadosJusBR
602                        Bratislava Open Data Portal

                                                   url  \
0    http://www.a2gov.org/services/data/Pages/defau...
1              http://acikveri.sahinbey.bel.tr/dataset
2                           http://africaopendata.org/
3                       http://opendata.tarragona.cat/
4                        http://opendata.terrassa.cat/
..                                                 ...
598                  https://portaldados.ppgau.uff.br/
599                         https://opendatanepal.com/
600                             https://www.stat.tj/en
601                            https://dadosjusbr.org/
602                     https://opendata.bratislava.sk

                                                author  \
0                                    City of Ann Arbor
1                                             pinardag
2                                     Africa Open Data
3                              Ajuntament de Tarragona
4                                Ajuntament de Terassa
..                                                 ...
598                              Plano C and PPGAU-UFF
599                               Open Knowledge Nepal
600  The Statistical Agency under President of the ...
601  Instituto Federal de Alagoas (IFAL) in partner...
602  Magistrát hlavného mesta Slovenskej republiky ...

                                             publisher      issued  \
0                                    City of Ann Arbor         NaN
1                                  SahinBey Belediyesi  31/01/2015
2                                     Africa Open Data         NaN
3                              Ajuntament de Tarragona         NaN
4                                Ajuntament de Terassa         NaN
..                                                 ...         ...
598                    Universidade Federal Fluminense  2022-01-03
599                               Open Knowledge Nepal  2018-03-03
600  The Statistical Agency under President of the ...         NaN
601                       Instituto Federal de Alagoas  2018-12-31
602                             The city of Bratislava         NaN

    publisher_classification  \
0                        NaN
1                 Government
2                        NaN
3                 Government
4                 Government
..                       ...
598               Government
599                Community
600               Government
601                Community
602               Government

                                           description  \
0          City of Ann Arbor's Open Data Catalog (USA)
1        The first official open data portal of Turkey
2    Africa's largest central repository for Govern...
3                                  Open Data Tarragona
4                                    Open Data Terassa
..                                                 ...
598  Open data portal customized for urbanism and u...
599  A civil society initiative to make Nepal’s dat...
600  The information in the Statistical Agency is p...
601  The portal consumes or scrapes data from sever...
602  Open data is information or data that is freel...

                         tags        license_id  ...                 place  \
0           ctic unitedstates               NaN  ...   Ann Arbor, Michigan
1             turkey national           Unknown  ...      Gaziantep,Turkey
2                 ckan africa               NaN  ...                Africa
3                  city spain               NaN  ...             Tarragona
4                  city spain               NaN  ...               Terrasa
..                        ...               ...  ...                   ...
598  brazil,academic,urbanism                cc  ...            RJ, Brazil
599                ckan nepal             cc-by  ...      Kathmandu, Nepal
600     tajikistan statistics  Other (Not Open)  ...            Tajikistan
601          brazil judiciary             cc-by  ...                Brazil
602       bratislava slovakia               NaN  ...  Bratislava, Slovakia

                   location country  language  status  \
0    42.2681569,-83.7312291      US        en  active
1      37.0587715,37.380137      TR        tr  active
2      2.0000003,15.9999997      AF        en  active
3           41.1157, 1.2496      ES  ca es en  active
4           41.5611, 2.0081      ES     es en  active
..                      ...     ...       ...     ...
598    -22.90501, -43.13053      BR        pt  active
599         27.7097,85.3209      NP        en  active
600   38.5754817,68.7900625      TJ        en  active
601     15.74706, -47.89593      BR        pt  active
602      48.14409, 17.10971      SK        sk  active

              metadatacreated                       generator  \
0    2011-06-27T18:12:57.439Z                             NaN
1                         NaN                             NaN
2    2013-03-15T07:17:26.251Z                     CKAN: 2.1.3
3                         NaN                             NaN
4                         NaN                             NaN
..                        ...                             ...
598      2022-06-19T23:58:00Z                            CKAN
599         2022-07-01T08:37Z                            ckan
600       2022-07-17T16:49:49                             NaN
601      2022-07-24T22:38:06Z  Custom/in-house implementation
602      2023-05-04T14:22:56Z  Custom/in-house implementation

                               api_endpoint                        api_type  \
0                                       NaN                             NaN
1                                       NaN                             NaN
2            http://africaopendata.org/api/                             NaN
3                                       NaN                             NaN
4                                       NaN                             NaN
..                                      ...                             ...
598  https://portaldados.ppgau.uff.br/api/3                        CKAN API
599           https://opendatanepal.com/api                        CKAN API
600                                     NaN                             NaN
601             https://api.dadosjusbr.org/  Custom/in-house implementation
602      https://opendata.bratislava.sk/api  Custom/in-house implementation

    full_metadata_download
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
..                     ...
598                    NaN
599                    NaN
600                    NaN
601                    NaN
602                    NaN

[603 rows x 22 columns]

In [12]:
df.isnull()

,name,title,url,author,publisher,issued,publisher_classification,description,tags,license_id,...,place,location,country,language,status,metadatacreated,generator,api_endpoint,api_type,full_metadata_download
0,False,False,False,False,False,True,True,False,False,True,...,False,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,True,True,True
2,False,False,False,False,False,True,True,False,False,True,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,True,True,True,True,True
4,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
599,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
600,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
601,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
602,False,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True

In [13]:
df.describe()

,name,title,url,author,publisher,issued,publisher_classification,description,tags,license_id,...,place,location,country,language,status,metadatacreated,generator,api_endpoint,api_type,full_metadata_download
count,603,603,603,538,542,98,221,553,530,289,...,601,580,588,594,603,461,96,46,79,16
unique,599,597,599,496,505,88,7,549,277,43,...,495,493,129,77,3,425,25,46,9,16
top,state_of_washington,Washington,http://dadosabertos.senado.gov.br/,African Development Bank Group,African Development Bank Group,01/01/2015,Government,Open Data portal for the European Commission a...,canada,cc-by,...,Italy,"0,0",US,en,active,2018-09-12T10:58:52Z,CKAN,http://africaopendata.org/api/,CKAN API,https://data.qld.gov.au/api/3/action/current_p...
freq,4,4,2,21,22,2,192,2,45,48,...,9,10,100,271,586,30,37,1,38,1

In [14]:
size=df.size

In [15]:
shape=df.shape

In [16]:
df_ndim=df.ndim

In [17]:
series_ndim=df["name"].ndim

In [19]:
print("Size = {}\nShape = {}\nShape[0] * Shape[1] = {}\nDataFrame ndim = {}\nSeries ndim = {}".format(
    size, shape, shape[0] * shape[1], df_ndim, series_ndim
))

Size = 13266
Shape = (603, 22)
Shape[0] * Shape[1] = 13266
DataFrame ndim = 2
Series ndim = 1

In [20]:
dataTypeSeries=df.dtypes

In [21]:
print("data type of each of each column of dataframe is :")
print(dataTypeSeries)

data type of each of each column of dataframe is :
name                        object
title                       object
url                         object
author                      object
publisher                   object
issued                      object
publisher_classification    object
description                 object
tags                        object
license_id                  object
license_url                 object
license_notes               object
place                       object
location                    object
country                     object
language                    object
status                      object
metadatacreated             object
generator                   object
api_endpoint                object
api_type                    object
full_metadata_download      object
dtype: object

In [24]:
dummies = pd.get_dummies(df.author)
merged = pd.concat([df, dummies], axis='columns')

In [25]:
merged.drop(['author'],axis='columns')

,name,title,url,publisher,issued,publisher_classification,description,tags,license_id,license_url,...,Wyre Council,Xunta de Galicia,data.go.kr,data.gov.sk,e-Government Center,http://g0vhk.io,http://garagelab.tumblr.com/,pinardag,regione sardegna,Örebro Kommun
0,a2gov_org,"Ann Arbor, Michigan",http://www.a2gov.org/services/data/Pages/defau...,City of Ann Arbor,NaN,NaN,City of Ann Arbor's Open Data Catalog (USA),ctic unitedstates,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
1,acikveri-sahinbey-bel-tr,Açık Veri Portali - Test Yayını,http://acikveri.sahinbey.bel.tr/dataset,SahinBey Belediyesi,31/01/2015,Government,The first official open data portal of Turkey,turkey national,Unknown,NaN,...,False,False,False,False,False,False,False,True,False,False
2,africa_open_data,Africa Open Data,http://africaopendata.org/,Africa Open Data,NaN,NaN,Africa's largest central repository for Govern...,ckan africa,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
3,ajuntament-de-tarragona,Open Data Tarragona,http://opendata.tarragona.cat/,Ajuntament de Tarragona,NaN,Government,Open Data Tarragona,city spain,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
4,ajuntament-de-terassa,Open Data Terassa,http://opendata.terrassa.cat/,Ajuntament de Terassa,NaN,Government,Open Data Terassa,city spain,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,portal-dados-urbanos-uff,Portal de Dados Urbanos PPGAU UFF - Open data ...,https://portaldados.ppgau.uff.br/,Universidade Federal Fluminense,2022-01-03,Government,Open data portal customized for urbanism and u...,"brazil,academic,urbanism",cc,NaN,...,False,False,False,False,False,False,False,False,False,False
599,open-data-nepal,Open Data Nepal,https://opendatanepal.com/,Open Knowledge Nepal,2018-03-03,Community,A civil society initiative to make Nepal’s dat...,ckan nepal,cc-by,https://creativecommons.org/licenses/by/4.0/,...,False,False,False,False,False,False,False,False,False,False
600,stat-tj,Agency on Statistics under President of the Re...,https://www.stat.tj/en,The Statistical Agency under President of the ...,NaN,Government,The information in the Statistical Agency is p...,tajikistan statistics,Other (Not Open),NaN,...,False,False,False,False,False,False,False,False,False,False
601,dadosjusbr,DadosJusBR,https://dadosjusbr.org/,Instituto Federal de Alagoas,2018-12-31,Community,The portal consumes or scrapes data from sever...,brazil judiciary,cc-by,NaN,...,False,False,False,False,False,False,False,False,False,False
602,bratislava-opendata,Bratislava Open Data Portal,https://opendata.bratislava.sk,The city of Bratislava,NaN,Government,Open data is information or data that is freel...,bratislava slovakia,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [26]:
print(merged)

                         name  \
0                   a2gov_org
1    acikveri-sahinbey-bel-tr
2            africa_open_data
3     ajuntament-de-tarragona
4       ajuntament-de-terassa
..                        ...
598  portal-dados-urbanos-uff
599           open-data-nepal
600                   stat-tj
601                dadosjusbr
602       bratislava-opendata

                                                 title  \
0                                  Ann Arbor, Michigan
1                      Açık Veri Portali - Test Yayını
2                                     Africa Open Data
3                                  Open Data Tarragona
4                                    Open Data Terassa
..                                                 ...
598  Portal de Dados Urbanos PPGAU UFF - Open data ...
599                                    Open Data Nepal
600  Agency on Statistics under President of the Re...
601                                         DadosJusBR
602                        Bratislava Open Data Portal

                                                   url  \
0    http://www.a2gov.org/services/data/Pages/defau...
1              http://acikveri.sahinbey.bel.tr/dataset
2                           http://africaopendata.org/
3                       http://opendata.tarragona.cat/
4                        http://opendata.terrassa.cat/
..                                                 ...
598                  https://portaldados.ppgau.uff.br/
599                         https://opendatanepal.com/
600                             https://www.stat.tj/en
601                            https://dadosjusbr.org/
602                     https://opendata.bratislava.sk

                                                author  \
0                                    City of Ann Arbor
1                                             pinardag
2                                     Africa Open Data
3                              Ajuntament de Tarragona
4                                Ajuntament de Terassa
..                                                 ...
598                              Plano C and PPGAU-UFF
599                               Open Knowledge Nepal
600  The Statistical Agency under President of the ...
601  Instituto Federal de Alagoas (IFAL) in partner...
602  Magistrát hlavného mesta Slovenskej republiky ...

                                             publisher      issued  \
0                                    City of Ann Arbor         NaN
1                                  SahinBey Belediyesi  31/01/2015
2                                     Africa Open Data         NaN
3                              Ajuntament de Tarragona         NaN
4                                Ajuntament de Terassa         NaN
..                                                 ...         ...
598                    Universidade Federal Fluminense  2022-01-03
599                               Open Knowledge Nepal  2018-03-03
600  The Statistical Agency under President of the ...         NaN
601                       Instituto Federal de Alagoas  2018-12-31
602                             The city of Bratislava         NaN

    publisher_classification  \
0                        NaN
1                 Government
2                        NaN
3                 Government
4                 Government
..                       ...
598               Government
599                Community
600               Government
601                Community
602               Government

                                           description  \
0          City of Ann Arbor's Open Data Catalog (USA)
1        The first official open data portal of Turkey
2    Africa's largest central repository for Govern...
3                                  Open Data Tarragona
4                                    Open Data Terassa
..                                                 ...
598  Open data portal customized for urbanism and u...
599  A civil society initiative to make Nepal’s dat...
600  The information in the Statistical Agency is p...
601  The portal consumes or scrapes data from sever...
602  Open data is information or data that is freel...

                         tags        license_id  ... Wyre Council  \
0           ctic unitedstates               NaN  ...        False
1             turkey national           Unknown  ...        False
2                 ckan africa               NaN  ...        False
3                  city spain               NaN  ...        False
4                  city spain               NaN  ...        False
..                        ...               ...  ...          ...
598  brazil,academic,urbanism                cc  ...        False
599                ckan nepal             cc-by  ...        False
600     tajikistan statistics  Other (Not Open)  ...        False
601          brazil judiciary             cc-by  ...        False
602       bratislava slovakia               NaN  ...        False

    Xunta de Galicia data.go.kr data.gov.sk e-Government Center  \
0              False      False       False               False
1              False      False       False               False
2              False      False       False               False
3              False      False       False               False
4              False      False       False               False
..               ...        ...         ...                 ...
598            False      False       False               False
599            False      False       False               False
600            False      False       False               False
601            False      False       False               False
602            False      False       False               False

    http://g0vhk.io http://garagelab.tumblr.com/ pinardag regione sardegna  \
0             False                        False    False            False
1             False                        False     True            False
2             False                        False    False            False
3             False                        False    False            False
4             False                        False    False            False
..              ...                          ...      ...              ...
598           False                        False    False            False
599           False                        False    False            False
600           False                        False    False            False
601           False                        False    False            False
602           False                        False    False            False

    Örebro Kommun
0           False
1           False
2           False
3           False
4           False
..            ...
598         False
599         False
600         False
601         False
602         False

[603 rows x 518 columns]